<hr>
<div class="row">
  <div class="col-md-5">
    <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appDropdown>
              <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/personalBanker/add" style="cursor: pointer;">Add Account</a></li>
                <li *ngIf="account !== undefined"><a (click)="onEditAccount()"  style="cursor: pointer;">Edit Account</a></li>
                <li *ngIf="account !== undefined"><a (click)="onAddTransactions()"  style="cursor: pointer;">Add Transaction</a></li>
              </ul>
            </li>
          </ul>
        </div>
  </div>
</div>
<label>Account</label>
<select (change)="onAccountSelected($event)">
  <option value="">select an account</option>
  <option *ngFor="let account of accounts"
          [value]="account.accountNumber">{{account.accountNumber}} {{account.accountName}}</option>
</select>
<hr>

<div *ngIf="accountNumber !== ''; else infoText">
  <div class="row">
      <div class="col-md-5">
        <label class="full-width">Account Id: </label>{{account.id}}
      </div>
    </div>
  <div class="row">
    <div class="col-md-5">
      <label class="full-width">Account Number: </label>&nbsp;{{accountNumber}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <label class="full-width">Name: </label>&nbsp;{{account.bankName}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <label class="full-width">Account Name: </label>&nbsp;{{account.accountName}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <label class="full-width">Balance: </label>&nbsp;{{account.balance}}
    </div>
  </div>
</div>
<ng-template #infoText>
  <p>Please select an Account!</p>
</ng-template>


<!--<div *ngIf="accountNumber !== ' '">
  <app-transactions></app-transactions>
</div>

<div class="col-md-7">
    <router-outlet></router-outlet>
  </div>-->

<div *ngIf="accountNumber !== ' '">
<div class="row">
  <div class="col-md-6">
    <app-transactions></app-transactions>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <router-outlet></router-outlet>
  </div>
</div>
</div>


