<router-outlet>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="accountEditForm" (ngSubmit)="onSubmit()">
          <h3>Edit Account</h3>
           <!-- Bank Name -->
          <div class="form-group">
              <label for="bankName">Bank Name</label>
              <input
                type="text"
                id="bankName"
                formControlName="bankName"
                class="form-control">
              <span
                *ngIf="!accountEditForm.get('bankName').valid && accountEditForm.get('bankName').touched"
                class="help-block">
                               <span
                                 *ngIf="accountEditForm.get('bankName').errors['bankName']">This name is invalid!</span>
                               <span
                                 *ngIf="accountEditForm.get('bankName').errors['required']">This field is required!</span>
                             </span>
            </div>
          <!-- End Bank Name -->
          <!-- accountname -->
            <div class="form-group">
              <label for="accountname">Account Name</label>
              <input
                type="text"
                id="accountName"
                formControlName="accountName"
                class="form-control">
              <span
                *ngIf="!accountEditForm.get('accountName').valid && accountEditForm.get('accountName').touched"
                class="help-block">
                    <span
                      *ngIf="accountEditForm.get('accountName').errors['accountName']">This name is invalid!</span>
                    <span
                      *ngIf="accountEditForm.get('accountName').errors['required']">This field is required!</span>
                  </span>
            </div>
          <!-- End accountname -->
          <!-- accountNumber -->
            <div class="form-group">
              <label for="accountNumber">Account Number</label>
              <input
                type="text"
                id="accountNumber"
                formControlName="accountNumber"
                class="form-control">
              <span
                *ngIf="!accountEditForm.get('accountNumber').valid && accountEditForm.get('accountNumber').touched"
                class="help-block">Please enter a valid account number!</span>
            </div>
          <!-- End accountNumber -->
          <!-- balancer -->
            <div class="form-group">
              <label for="balance">Account Balance</label>
              <input
                type="number"
                id="balance"
                formControlName="balance"
                class="form-control">
              <span
                *ngIf="!accountEditForm.get('balance').valid && accountEditForm.get('balance').touched"
                class="help-block">
                    <span *ngIf="accountEditForm.get('balance').errors['accountBalance']">Account balance is not valid!</span>
                    <span *ngIf="accountEditForm.get('balance').errors['required']">Please enter account balance!</span>
                  </span>
            </div>
          <!-- End balancer -->
          <!-- checkNumber -->
            <div class="form-group">
              <label for="checkNumber">Check Number Name</label>
              <input
                type="text"
                id="checkNumber"
                formControlName="checkNumber"
                class="form-control">
            </div>
          <!-- End checkNumber -->
          <!-- accountType -->
            <div class="radio" *ngFor="let accountType of accountTypes">
                          <label>
                            <input
                              type="radio"
                              formControlName="accountType"
                              [value]="accountType">{{ accountType }}
                          </label>
            </div>
          <!-- End accountType-->
            <div class="col-sm-2">
              <button class="btn btn-success btn-block" type="submit">Update</button>
            </div>
            <div class="col-sm-2">
               <button class="btn btn-danger btn-block" type="button" (click)="onDeleteAccount()">Delete</button>
             </div>
            <div class="col-sm-2">
              <button class="btn btn-primary btn-block" type="button" (click)="onCancel()">Cancel</button>
            </div>
            <div class="row">
              <div>
                   <span
                     *ngIf="!accountEditForm.valid && accountEditForm.touched"
                     class="help-block error-msg">Please enter valid data!</span>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</router-outlet>
