.checkbox-margin {
  margin-right: 5px;
}

fieldset {
    border: solid 2px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
  margin-bottom: 15px;
}

legend {
    width: auto !important;
    border: none;
    font-size: 14px;
}
