<div class="row">
  <div class="col-xs-10">
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let transaction of transactions"
      >
        {{ transaction.accountNumber }} ({{ transaction.amount }}) {{transaction.transactionDate}} {{transaction.checkNumber}} {{transaction.memo}}
        <button class="btn btn-primary" type="button" (click)="onTransactionEdit(transaction.transactionKey)">Edit</button>
      </a>
    </ul>
  </div>
</div>
